body {
    background: url(/statics/images/wdesign.jpeg);
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
}
.main-content {
    position: relative;
    padding: 30px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    text-align: center;
}
.sidebar {
    width: 250px;
    background: #2C3E50;
    height: 100vh;
    color: white;
    transition: 0.3s;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 15px;
}

.sidebar-toggler {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    background: #34495E;
    border-radius: 5px;
}
.nav-link.active {
    background-color: #007bff; /* Highlight color */
    color: white;
    font-weight: bold;
    border-radius: 5px;
}


.signout-btn nav-link {
    width: 100%;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    text-align: left;
    padding: 10px;
    display: flex;
    align-items: center;
}

.signout-btn nav-link:hover {
    background: #E74C3C;
    border-radius: 5px;
}

.main-content {
    text-align: center;
    flex-grow: 1;
    padding: 20px;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: linear-gradient(90deg, #23486b, #00dfd8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 10px rgba(0, 124, 240, 0.5);
    animation: fadeIn 1s ease-in-out;
    margin-top: 150px;
}

p {
    font-size: 1.2rem;
    text-align: center;
    color: #333;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.6;
    font-weight: 500;
    padding: 10px 20px;
    border-left: 4px solid #007cf0;
    border-right: 4px solid #00dfd8;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 1.2s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
